@base: hsl(240, 0.3, 0.5);

@dark: darken(@base, 40);
@dark75-tr: fade(@dark, 75);
@dark50-tr: fade(@dark, 50);
@dark25-tr: fade(@dark, 25);

@light: lighten(@base, 45);
@light75-tr: fade(@light, 75);
@light75-tr: fade(@light, 50);
@light75-tr: fade(@light, 25);

@accent: hsl(25, 0.6, 0.5);
@accent-active: saturate(@accent, 20);
@accent-disabled: desaturate(@accent, 30);

html {
  background: url('../img/electrico-1.png') no-repeat 63% 15% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

body {
  width: 100%;
  font-family: 'Josefin Slab';
  font-size: 16px;
  color: @light;
  position: relative;
}

a, a:visited {
  color: @light;
  text-decoration: underline;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

a:hover, a:focus, a:active {
  color: @accent;
  text-decoration: underline;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

header, footer {
  position: fixed;
  background-color: @dark75-tr;
  width: 100%;
}

header {
  top: 0;
  height: 80px;

  .container {
    height: 100%;

    h1 {
      margin-top: 5px;
      font-weight: 700;
    }

    nav {
      position: absolute;
      bottom: 0px;
      height: 30px;
    }

    nav > ul {
      padding: 0;
      li {
        list-style: none;
        float: left;
        padding: 3px 8px 3px 8px;
        margin-right: 5px;
        font-weight: 700;
        background-color: @dark25-tr;
      }
    }
  }

  #main-title > a , #main-title > a:visited {
    color: @light;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }

  #main-title > a:hover, #main-title > a:focus, #main-title > a:active {
    color: @light75-tr;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }
}

footer {
  bottom: 0;
  height: 30px;
  text-align: center;
}

ul>li {
  margin-left: 20px;
}

section {
  position: fixed;
  width: inherit;
  top: 100px;
  margin-top: -100px;
  padding-top: 100px;
  padding-bottom: 50px;
  z-index: -10;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-image: linear-gradient(to bottom, @dark75-tr 0%, @dark75-tr 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-clip: content-box, padding-box;
}

.content-floater {
  box-sizing: border-box;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-display {
  overflow-y: auto;
  height: inherit;
  padding: 0 20px 20px;
}

.pre-scroll {
  overflow: hidden;
  width:100%;
  height:100%;
  margin-top: -70px;
  padding-top: 70px;
}

.pre-scroll > pre {
  overflow-y: auto;
  overflow-x: hidden;
  width: inherit;
  height: inherit;
  font-family: 'Josefin Slab';
  height: inherit;
  border: 0;
  border-radius: 0;
  background-color: fade(@light, 90%);
  box-shadow: inset 0 0 7px rgba(0,0,0,0.4);
}

#main-container {
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 0;
}

.text-small {
  font-size: 50%;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover,  ::-webkit-scrollbar-thumb:active{
  background-color: rgba(255, 255, 255, 0.4);
}
